:root {
  /* Primary */

  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);

  /* Neutral */

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--gray-100);
  margin: 5.8rem 2rem;
}

html {
  font-size: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  overflow: hidden;
}

.cards__card {
  color: var(--gray-100);
  padding: 1.2rem 3rem;
}

.cards__card--sedan {
  background-color: var(--gold-500);
}

.cards__card--suv {
  background-color: var(--cyan-800);
}

.cards__card--luxury {
  background-color: var(--green-950);
}

.card__header {
  margin: 2rem 0;
}

.card__title {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-top: 2.5rem;
  font-family: "Big Shoulders", sans-serif;
}

.card__text {
  margin-top: 2rem;
  line-height: 170%;
  color: var(--transparent-white);
}

.card__button {
  background-color: var(--gray-100);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 1.5rem 0 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.card__button--sedan {
  color: var(--gold-500);
}

.card__button--sedan:hover {
  background-color: var(--gold-500);
  border-color: var(--gray-100);
  color: var(--gray-100);
  cursor: pointer;
}

.card__button--suv {
  color: var(--cyan-800);
}

.card__button--suv:hover {
  background-color: var(--cyan-800);
  border-color: var(--gray-100);
  color: var(--gray-100);
  cursor: pointer;
}

.card__button--luxury {
  color: var(--green-950);
}

.card__button--luxury:hover {
  background-color: var(--green-950);
  border-color: var(--gray-100);
  color: var(--transparent-white);
  cursor: pointer;
}

@media (min-width: 620px) {
  body {
    margin: 1rem;
    overflow: hidden;
  }
  .cards {
    flex-direction: row;
  }
  .cards__card {
    max-width: 20rem;
    padding: 3rem;
  }
}
